.footer{
    background-color: var(--background-darkgrey);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container {
    display: flex;
align-items: baseline;
}

.footer .item{
    margin-bottom: 9px;
}

.footer .item:last-child{
    margin-bottom: 0;
}

.footer .link{
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

.footer .list .link{
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .list .link:hover, .footer .list .link:focus{
    color: var(--accent-color);
}

.footer .logo-link{
margin-bottom: 20px;

    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
}

.map{
color: var(--white-color);
}

.footer-link {
color: var(--footer-grey--);
}



.footer-join .second-heading{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: start;

    color: var(--white-color);
}

.footer-join .list{
    display: flex;
}

.footer-join .item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-bottom: 0px;
    
}
.footer-join .item:last-child {
    margin-right: 0px;
}

.footer-join .item .link{
    transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join .item .link:hover, .footer-join .item .link:focus{
    background-color: var(--accent-color);
}

.footer-icon{
    fill: var(--white-color);
    width: 20px;
    height: 20px;
}

.footer-join .link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50%;
    box-shadow: none; 
    background-color: rgba(255, 255, 255, 0.1); 
}

.footer-address{
    margin-right: 70px;
}


.footer-form{
    margin-left: 93px;
}

.footer-form .second-heading{

    margin-bottom: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: left;

color: var(--white-color);

}

.footer-submit{
    display: flex;
}


.footer-form-field-input{

padding-left: 15px;
padding-top: 15px;
padding-bottom: 15px;

margin-right: 12px;
width: 358px;
height: 50px;
outline: transparent;


border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: rgba(47, 48, 58, 1);

transition-property: border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-form-field-input:focus{
border: 1px solid var(--accent-color);
color: var(--white-color);
}


.footer-form-field-input::placeholder{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(20/16);

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}


.footer-button{

   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 28px;
   padding-right: 28px;

   

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: calc(30/16);


box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
}

.button-footer-inner{
display: flex;
align-items: center;
}
.footer-tg{

    width: 24px;
    height: 24px;
    margin-left: 10px;

}

