.header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-line);
}

.header .link{
    display: flex;
    align-items: center;
    }


.logo-link{
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.logo-accent{
    color: var(--accent-color);
}

.nav-link, .contact-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.nav-link, .contact-link{
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header .list .link:hover,
.header .list .link:focus {
    color: var(--accent-color);
}

.nav-list .link {
position: relative;

    padding-top: 32px;
padding-bottom: 32px;
    color: var(--second-text-color);
}

.item.page-now .link{
    color: var(--accent-color);
    text-decoration: none;
}

.contact-link{
    color: var(--main-text-color);
}

.nav{
    display: flex;
    align-items: center;
}

.nav-list>.item:not(:last-child), .contacts-item:not(:last-child){
    margin-right: 50px;
    }

    .nav-list, .data{
        display: flex;
        margin-left: 93px;
    }

    .header-container{
            position: relative;

        display: flex;
        align-items: center;
    }

    .contacts-item .link{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .data{
        margin-left: auto;
    }

    .icon-envelope{
        width: 16px;
        height: 12px;
    margin-right: 10px;
    fill: currentColor;
    }
    
    
    .icon-smartphone{
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
    }

   .page-now .link::after{

        display: block;
        position: absolute;
        content: "";
    
        height: 4px;
        width: 100%;
    bottom: -1px;
        border-radius: 2px;
    
    background-color: var(--accent-color);
    }